
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-dark .navbar-toggler {
    color: white;
    padding: 0;
    border: none;
}

.bg-black {
    background-color: black !important;
}

.text-black {
    color: black !important;
}

.register-form {
    width: 80%;
    @include media-breakpoint-up(md) {
        width: 50%;
    }
    @include media-breakpoint-up(lg) {
        width: 40%;
    }
    @include media-breakpoint-up(xl) {
        width: 30%;
    }
}

.btn-outline-black {
    height: 47px;
    border: 1px solid black;
}

.co-custom-control {
    height: 47px;
}

.advert {
    min-width: 80px !important;
    max-width: 80px !important;
}

.custom-carousel .img-carousel-wrapper:nth-child(2n) {
    @include media-breakpoint-up(md) {
        transform: translateY(20px);
    }
}

.custom-carousel div {
    flex-direction: column;
    @include media-breakpoint-up(md) {
        flex-direction: row;
    }
}

.co-divider {
    width: 32px;
    height: 7px;
    background-color: white;
    @include media-breakpoint-up(md) {
        background-color: #212121;
    }
}

.coworking-desc {
    font-size: 1rem;
    width: auto;
    margin-left: auto;
    color: white;
    @include media-breakpoint-up(md) {
        width: 376px;
        transform: translateY(-68px);
    }
}

.welcome {
    font-weight: bold;
    color: white;
    @include media-breakpoint-up(md) {
        font-size: 78px;
        color:  #212121;
    }
}

.welcome-wrapper > .container {
    @include media-breakpoint-up(md) {
        width: 43%;
    }
}

.parallax {
    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1522202176988-66273c2fd55f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-modal .card {
    width: 75%;
    min-height: 200px;
    @include media-breakpoint-up(md) {
        width: 35%;
        min-height: 350px;
    }
}

.container-modal {
    transform: translateY(-50%);
}

.service {
    min-height: 470px;
    margin: auto;
}

.price-card .card {
    height: 512px;
    min-width: 345px;

    max-width: 345px;
}

.price h3 {
    text-align: right;
    transform-origin: left;
    transform: rotate(-90deg) translate(-108%, -60%);
}

.border-black {
    border-color: black !important;
}

.message-form {

    width: 100%;
    @include media-breakpoint-up(md) {
        width: 60%;
    }
}

.co-custom-textarea {
    min-height: 128px;
}

.login-card {
    @include media-breakpoint-up(md) {
        width: 70%;
    }
}
